
<ion-header no-border>
  <ion-toolbar transparent class="themColor white">
      <button ion-button menuToggle >
        <ion-icon name="menu" class="white"></ion-icon>
      </button>
      <ion-title>
        <div text-center style="margin-left: 38px;">
          <img src="/assets/icon/logo_alex.png" alt="logo" style="width:120px;"/>
        </div>
      </ion-title>
      <ion-buttons end>
          <button style="background:transparent;" (click)="back()">
              <img src="/assets/icon/app_icon/back.png" alt="logo" style="width:30px;"/>
          </button>
      </ion-buttons>  
  </ion-toolbar>  
</ion-header>

<ion-content>
  <div>
    <div text-center class="borddrBot">
        <h3 class="textColor">My Collection</h3>
    </div>
    <ion-row class="borddrBot rowHeight">
      <ion-col col-6>
        <div class="buttonDiv">
          <p class="textColor">Upload your File</p>
        </div>
      </ion-col>
      <ion-col col-6>
        <div class="buttonDiv">
          <button (click)="SelectFile()" class="themColor DiscoverButton" style="width:90% !important;">Select your File</button>
        </div>
      </ion-col>
    </ion-row>
    <div text-center class="borddrBot rowHeight">
      <button class="themColor DiscoverButton" (click)="myOrder()">Go To My Orders</button>
    </div>
    <!-- --------Filters------- -->
    <ion-row>
      <ion-col col-6>
        <div class="buttonDiv">
          <button ion-button class="themColor DiscoverButton" (click)="filters()">Filters</button>
        </div>
      </ion-col>
      <ion-col col-6>
        <div class="buttonDiv">
          <button ion-button class="themColor DiscoverButton" (click)="sort()">Sort By</button>
        </div>
      </ion-col>
    </ion-row>
    <!-- --------Filters------- -->

    <!-- --------ProductList------- -->
    <ion-grid no-padding>
      <ion-row>
        <ion-col col-6 no-padding *ngFor="let item of Collectionlist">
          <ion-card >
            <img (click)="cat()" src="{{imgUrl}}{{item.image}}" alt="logo" style="height: 100%;"/>
            <div class="opctyDiv">
              <h2 class="opctyText">{{item.name}}</h2>
            </div>
            <div class="iconDiv">
              <ion-row>
                <ion-col col-6>
                  <div (click)="Edit(item.file_id)">
                      <ion-icon name="create" class="iconClass" ></ion-icon>
                  </div>
                </ion-col>
                <ion-col col-6 >
                  <div class="secondRow" (click)="DeleteCollection(item.file_id)">
                      <ion-icon name="close-circle" class="iconClass"></ion-icon>
                  </div>
                </ion-col>
              </ion-row>
            </div>
          </ion-card>
        </ion-col>
        <div padding style="width: 100%;" text-center *ngIf="Collectionlist == ''">
          <h3 style="text-shadow: 1px 1px #065f73;
          color: #0b7a94;">No Product Avaliable in Collection</h3>
        </div>
      </ion-row>
    </ion-grid>
    <!-- --------ProductList------- -->
  </div>
</ion-content>
